doctype
html
  head
    title= "WS"
    style
      include ../assets/css/normalize.css
      include ../assets/css/skeleton.css
      include ../assets/css/style.css
  body
    div
      .main-container
        h1= "Chat"
        .content
        .controls
          input.field(type='text')
          input.send(type='button', value='send')
